Source: ros-lyrical-ros2-medkit-graph-provider
Section: misc
Priority: optional
Maintainer: "bburda" <bartoszburda93@gmail.com>
Build-Depends: debhelper (>= 9.0.0), nlohmann-json3-dev, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-clang-format <!nocheck>, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-diagnostic-msgs, ros-lyrical-rclcpp, ros-lyrical-ros2-medkit-cmake, ros-lyrical-ros2-medkit-gateway, ros-lyrical-ros2-medkit-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/ros2_medkit_graph_provider/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ros2-medkit-graph-provider
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nlohmann-json3-dev, ros-lyrical-diagnostic-msgs, ros-lyrical-rclcpp, ros-lyrical-ros2-medkit-gateway, ros-lyrical-ros2-medkit-msgs, ros-lyrical-ros-workspace
Description: Graph provider plugin for ros2_medkit gateway
